.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-content {
    /* Content Change here */
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    font-size: 20px;
    width: 49.98%;
    background-color: rgb(100, 136, 0);
}

.tab-list-active {
    background-color: rgb(140, 190, 0);
    border: solid black;
    border-width: 0px 0px 0px 0px;
}

.tab-container {
    text-align: center;
    margin: auto;
    width: 30%;
    border: solid black 2px;
    height: 40em;
    background-color: rgb(140, 190, 0);
}

.tab-container-outter {
    border: solid 0px;
    text-align: center;
    margin-top: 100px;
}