.wrapper {
    background-color: rgb(140, 190, 0);
}

.wrapper .form-wrapper {
    background-color: rgb(140, 190, 0);
}

.wrapper .form-wrapper .form-title {
    background-color: rgb(140, 190, 0);
}

.wrapper .form-wrapper .login-form {
    background-color: rgb(140, 190, 0);
}

.wrapper .form-wrapper .login-form .divs {
    background-color: rgb(140, 190, 0);
}

.wrapper .form-wrapper .login-form .divs .label {
    background-color: rgb(140, 190, 0);
}

.wrapper .form-wrapper .login-form .divs input {
    background-color: rgb(140, 190, 0);
}