.motherboard-8-container {
    width: 100%;
    margin-top: 116px;
}

.motherboard-8-id {
    text-align: center;
}

/* Image */

.motherboard-8-image {
    width: 80%;
    height: 80%;
    margin: auto;
}

/* Name */
.motherboard-8-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border-bottom: solid black 1px;
}

/* Price */
.motherboard-8-price {
    font-family: 'Monsterrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

/*Button */
.motherboard-8-button {
    border: solid black 2px;
    background-color: gold;
    border-radius: 10px;
    color: black;
}

.motherboard-8-button:hover {
    color: white;
}

