.graphic-2-container {
    width: 100%;
    margin-top: 116px;
}

.graphic-2-id {
    text-align: center;
}

/* Image */

.graphic-2-image {
    width: 80%;
    height: 80%;
    margin: auto;
}

/* Name */
.graphic-2-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border-bottom: solid black 1px;
}

/* Price */
.graphic-2-price {
    font-family: 'Monsterrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

/*Button */
.graphic-2-button {
    border: solid black 2px;
    background-color: gold;
    border-radius: 10px;
    color: black;
}

.graphic-2-button:hover {
    color: white;
}

